* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  height: 100vh;
  background-size: cover;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  background: #f7bac8;
}

.container h1 {
  font-size: 3em;
  font-weight: lighter;
  font-family: Cabin;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
}

.key-select {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  max-width: 275px;
}

.key-select p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 36px;
  border: 3px solid #000;
}

button {
  background-color: #000;
  padding: 18px 66px;
  margin-top: 2em;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
